<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="idCard" class="java_adv.spring_framework.Task_four.entity.IDCard" />

	<bean id="employee" class="java_adv.spring_framework.Task_four.entity.Employee">
		<property name="idCard" ref="idCard" />
	</bean>

</beans>